# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: r
warnings_are_errors: false
sudo: false
cache: packages

r:
  - release
  - devel
  
r_binary_packages:
  - Rcpp
  - RcppArmadillo